
@media screen and (max-width: 768px){
    .avt-container__topnav{
        max-width: calc(100vw - 35px);
    }

    .avt-container__main{
        max-width: calc(100vw - 35px);
    }

    .avt-container__header{
        height: 57px;
    }

    .avt-visible-mobile_line{
        display: inline-block;
    }

    .avt-visible-desctop_line{
        display: none;
    }

    .avt-title__h4 {
        font-size: 14px;
    }

/* header */
    .avt-header__logo{
        text-decoration-line: none;
    }
        
    .avt-header__tel{
        text-decoration-line: none;
        color: #fff;
    }

    .avt-header-navigation{
        display: none;
    }

    .avt-header__button{
        display: none;
    }

/* first */

    .avt-first{
        height: 476px;
    }

    .avt-first__h1{
        padding-top: 85px;
        width: 100%;
        font-size: 23px;
        margin-bottom: 16px;;
    }

    .avt-title__h6{
        font-size: 14px;
        line-height: 1.358;
    }

    .avt-container__2button{
        flex-direction: column;
    }

    .avt-first__button{
        width: 100%;
        margin-bottom: 26px;
    }

/* projects */
    
    .avt-projects{
        padding-top: 36px;
        height: auto;
    }

    .avt-project-slider img{
        width: 100%;
        margin-bottom: 36px;
    }

    .avt-projects-rowdetail{
        margin-bottom: 0px;
    }

    .avt-projects-rownav, .avt-projects-detail-bottomnav, .avt-projects-colright {
        display: none;
    }

    .avt-projects-detail-datas__h2{
        text-align: center;
    }

    .avt-projects-detail-datas__p{
        font-size: 11px;
        line-height: 1.585;
        text-align: center;
    }

    .avt-projects-detail-datas-items{
        width: 50%;
        padding-bottom: 27px;
    }

/*    .avt-visible-mobile_line{
        display: inline-block;
    }

    .avt-visible-desctop_line{
        display: none;
    }
*/

/* control */

    .avt-control{
        margin-top: 0px;
        background-color: #131313;
    }


    .avt-control-cameraview{
        width: 100%;
        margin-bottom: 28px;
    }
    
    .avt-control-cameraview:before{
        height: calc(100% - 6px);
    }

    .avt-control-cameraview:after{
        width: 37px;
        height: 37px;
        top: calc(50% - 18px);
        left: calc(50% - 18px);
        background-size: 12px;
    }

    .avt-control__line{
        margin-bottom: 21px;
    }

    .avt-control-form{
        position: relative;
        margin-bottom: 83px;
    }

    .avt-control-form-line1{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .avt-control-form-line1-inputblock{
        width: 100%;
    }

    .avt-control__p{
        width: 100%;
        font-size: 11px;
        line-height: 1.7;
        margin-bottom: 61px;
        color: #fff;
    }

    .avt-control-form-line1-inputblock:first-child{
        margin-bottom: 63px;
    }

    .avt-control-form-line1-inputblock__caption{
        color: rgba(255, 255, 255, 0.5);
    }

    .avt-control-form-line1-inputblock__input{
        color: #fff;
        background-color: transparent;
        border-bottom: solid 1px rgba(54, 54, 54, 1);
    }
    .avt-control-form-line1-inputblock__input::-webkit-input-placeholder {color:#fff; background-color: transparent;}
    .avt-control-form-line1-inputblock__input::-moz-placeholder          {color:#fff; background-color: transparent;}/* Firefox 19+ */
    .avt-control-form-line1-inputblock__input:-moz-placeholder           {color:#fff; background-color: transparent;}/* Firefox 18- */
    .avt-control-form-line1-inputblock__input:-ms-input-placeholder      {color:#fff; background-color: transparent;}

    .avt-control-form-line2{
        justify-content: flex-start;
        padding-bottom: 88px;
    }

    .avt-control-form-line2__label{
        color: #fff;
    }

    .avt-control-form-line2__check+.avt-control-form-line2__label:hover {
        color: #fff;
    }

    .avt-control-form-line1-inputblock__button{
        position: absolute;
        width: 100%;
        bottom: -25px;
        height: 51px;
    }

/* repair */
    
    .avt-repair-iconblock__icon{
        margin-bottom: 40px;
    }


    .avt-repair-blocks-photo{
        flex-direction: column;
        width: 340px;
        margin-bottom: 79px;
    }

    .avt-repair-blocks-photo-items{
        margin-bottom: 79px;
    }

    .avt-repair-blocks-img-item{
        width: 340px;
        height: 365px;
    }
    .avt-repair-blocks-text-item{
        width: 270px;
        height: 241px;
        margin-top: -110px;
        margin-left: 0px;
    }

}

@media screen and (min-width: 600px) and (max-width: 768px){

    .avt-first__button{
        width: 50%;
    }
}
