/* common */
    body{
        margin: 0px;
    }

    body * {
        font-family: 'Nunito Sans', Arial, sans-serif;
        box-sizing: border-box;
    }

    .avt-container__main{
        max-width: 1250px;
        margin: 0px auto;
    }

    .avt-container__zindex1{
        position: relative;
        z-index: 1;
    }

    /* buttons */
        .avt-button{
            font-style: italic;
            font-weight: normal;
            font-size: 11px;
            line-height: 1.3;
            text-align: center;
            text-transform: uppercase;

            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
            border-radius: 2px;
            border: none;
            outline: none;

            cursor: pointer;
        }

        .avt-button__beige{
            background: #E3B873;
            border: solid 1px transparent;
            color: #FFFFFF;
        }
        .avt-button__beige:hover{
            background: none;
            border: solid 1px #ffffff;
        }

        .avt-button__transparent{
            color: #FFFFFF;
            background: none;
            border: solid 1px #ffffff;
        }
        .avt-button__transparent:hover{
            background: #E3B873;
            border: solid 1px transparent;
        }
    
    /* captions */
        .avt-title{
            font-family: 'Yeseva One', 'Times New Roman', Times, serif;
            font-style: normal;
            font-weight: normal;
            text-transform: uppercase;
            margin: 0px;
            padding: 0px;  
        }

        .avt-title__h1{
            font-size: 40px;
            line-height: 1.325;

            color: #FFFFFF;  
            padding-top: 194px;
            width: 680px;
        }

        .avt-title__h2{
            font-size: 27px;
            line-height: 1.325;
            letter-spacing: -0.07em;
        }

        .avt-title__h4{
            font-size: 18px;
            line-height: 1.389;
        }

        .avt-title__h6{
            font-family: 'Nunito Sans', Arial, sans-serif;
            text-transform: none;

            font-size: 22px;
            line-height: 36px;
            
            color: #FFFFFF;    
        }

        .avt-text__beige_serif{
            font-family: 'Yeseva One', 'Times New Roman', Times, serif;
            color: #E3B873;;
        }

/* header */
    .avt-header{
        background-color: #131313;
    }
    .avt-container__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 83px;
    }

    .avt-header__logo{
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
        color: #E3B873;
    }
    .avt-header__logo:hover{
        color: white;
    }

    .avt-header__tel{
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        text-align: right;
        text-decoration-line: underline;
        color: #E3B873;
    }
    .avt-header__tel:hover{
        color: white;
    }

    .avt-header-navigation{
        list-style: none;
        display: flex;
    }
    
    .avt-header-navigation__list{
        margin-right: 47px;
    }
    .avt-header-navigation__link{
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        text-decoration: none;
        color: white;
    }
    .avt-header-navigation__link:hover{
        color: #E3B873;
    }

    .avt-header__button{
        padding: 13px 33px;
        width: 161px;
    }

/* section FIRST */

    .avt-first{
        background-image: url("../images/first_background.jpg");
        background-size: cover; /* проверить для чего нужно!*/
        height: 707px;
        position: relative;
    }
    .avt-first__vual{
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }
    .avt-container__2button{
        margin-top: 41px;
        display: flex;
    }
    .avt-first__button{
        width: 207px;
        height: 51px;
        margin-right: 20px;
        padding: 20px 22px;
    }

/* section PROJECTS */

    .avt-projects{
        height: 1074px;
        background-color: #131313;
        padding-top: 107px;
    }

    .avt-projects-rownav{
        margin-bottom: 52px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .avt-projects-colleft{}
    .avt-projects-colright{
        width: 679px;
    }
    
    .avt-projects-rowdetail{
        margin-bottom: 416px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .avt-projects-navtop{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        padding: 0px;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .avt-projects-navtop-item{
        font-size: 14px;
        line-height: 1.358;
        color: rgba(255, 255, 255, 0.3);
        height: 16px;
    }

    .avt-projects-navtop-item__text{
        cursor: pointer;
    }
    .avt-projects-navtop-item__text:hover{
        border-bottom: solid 1px;
        color: #E3B873;
    }

    .avt-projects-navtop-item__text--active{
        border-bottom: solid 1px;
        color: #E3B873;
    }
    .avt-projects-navtop-item--1{
        width: 250px;
    }

    .avt-projects-navtop-item--2{
        width: 169px;
    }

    .avt-projects-navtop-item--3{
        width: 260px;
    }

    .avt-projects-detail-datas__h2{
        color: #E3B873;
        margin-bottom: 34px;
    }

    .avt-projects-detail-datas__p{
        font-size: 14px;
        line-height: 1.929;
        margin-bottom: 42px;
        color: #FFFFFF;
    }

    .avt-projects-detail-photo{
    }

    .avt-projects-detail-datas-bloks{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }

    .avt-projects-detail-datas-bloks-items{
        width: 190px;
        margin-right: 29px;
        margin-bottom: 34px;
    }

    .avt-projects-detail-datas-bloks-items__h4{
        color: #E3B873;
        margin-bottom: 9px;
        text-transform: uppercase;
    }

    .avt-projects-detail-datas-bloks-items__p{
        font-size: 13px;
        line-height: 1.616;
        
        color: #FFFFFF;    
    }