/* common */

    body {
        margin: 0px;
    }

    body * {
        font-family: 'Nunito Sans', Arial, sans-serif;
        box-sizing: border-box;
    }

    .avt-container__topnav {
        max-width: 1250px;
        margin: 0px auto;
    }

    .avt-container__main {
        max-width: 1171px;
        margin: 0px auto;
    }

    .avt-container__repair {
        max-width: 1236px;
        margin: 0px auto;
    }

    .avt-container__zindex1 {
        position: relative;
        z-index: 1;
    }

    .avt-visible-mobile_line {
        display: none;
    }

    .avt-visible-mobile_big_line{
        display: none;
    }

    .avt-visible-desctop_line {
        display: inline;
    }


/* buttons */
    .avt-button{
        font-style: italic;
        font-weight: normal;
        font-size: 11px;
        line-height: 1.3;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .avt-button__beige{
        background: #E3B873;
        border: solid 1px transparent;
        color: #FFFFFF;
    }
    .avt-button__beige:hover{
        background: none;
        border: solid 1px #ffffff;
    }

    .avt-button__beige_white{
        background: #E3B873;
        border: solid 1px transparent;
        color: #FFFFFF;
    }

    .avt-button__transparent{
        color: #FFFFFF;
        background: none;
        border: solid 1px #ffffff;
    }
    .avt-button__transparent:hover{
        background: #E3B873;
        border: solid 1px transparent;
    }

/* captions */
    .avt-title{
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;  
    }

    .avt-title__h1{
        font-size: 40px;
        line-height: 1.325;
    }

    .avt-title__h2{
        font-size: 27px;
        line-height: 1.325;
        letter-spacing: -0.07em;
    }

    .avt-title__h3{
        font-size: 20px;
        line-height: 1.4;
    }

    .avt-title__h4{
        font-size: 18px;
        line-height: 1.389;
    }

    .avt-title__h6{
        font-family: 'Nunito Sans', Arial, sans-serif;
        text-transform: none;

        font-size: 22px;
        line-height: 36px;
        
        color: #FFFFFF;    
    }

    .avt-text__beige_serif{
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        color: #E3B873;;
    }

/* header */
    .avt-header{
        background-color: #131313;
    }
    .avt-container__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 83px;
    }

    .avt-header__logo{
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
        color: #E3B873;
    }
    .avt-header__logo:hover{
        color: white;
    }

    .avt-header__tel{
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        text-align: right;
        text-decoration-line: underline;
        color: #E3B873;
    }
    .avt-header__tel:hover{
        color: white;
    }

    .avt-header-navigation{
        list-style: none;
        display: flex;
    }
    
    .avt-header-navigation__list{
        margin-right: 47px;
    }
    .avt-header-navigation__link{
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        text-decoration: none;
        color: white;
    }
    .avt-header-navigation__link:hover{
        color: #E3B873;
    }

    .avt-header__button{
        padding: 13px 33px;
        width: 161px;
    }

/* section FIRST */

    .avt-first{
        background-image: url("../images/first_background.jpg");
        background-size: cover;
        background-position: center center;
        height: 707px;
        position: relative;
    }
    .avt-first__vual{
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }

    .avt-first__h1{
        color: #FFFFFF;  
        padding-top: 194px;
        width: 680px;
    }

    .avt-container__2button{
        margin-top: 41px;
        display: flex;
    }
    .avt-first__button{
        width: 207px;
        height: 51px;
        margin-right: 20px;
        padding: 20px 22px;
    }

/* section PROJECTS */

    .avt-projects{
        height: 1074px;
        background-color: #131313;
        padding-top: 107px;
    }

    .avt-projects-rownav{
        margin-bottom: 52px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .avt-projects-colleft{}
    .avt-projects-colright{
        width: 679px;
    }
    
    .avt-projects-rowdetail{
        margin-bottom: 416px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .avt-projects-navtop{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        padding: 0px;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .avt-projects-navtop-item{
        font-size: 14px;
        line-height: 1.358;
        color: rgba(255, 255, 255, 0.3);
        height: 16px;
    }

    .avt-projects-navtop-item__text{
        cursor: pointer;
    }
    .avt-projects-navtop-item__text:hover{
        border-bottom: solid 1px;
        color: #E3B873;
    }

    .avt-projects-navtop-item__text--active{
        border-bottom: solid 1px;
        color: #E3B873;
    }
    .avt-projects-navtop-item--1{
        width: 250px;
    }

    .avt-projects-navtop-item--2{
        width: 169px;
    }

    .avt-projects-navtop-item--3{
        width: 260px;
    }

    .avt-projects-detail-datas__h2{
        color: #E3B873;
        margin-bottom: 34px;
    }

    .avt-projects-detail-datas__p{
        font-size: 14px;
        line-height: 1.929;
        margin-bottom: 42px;
        color: #FFFFFF;
        padding-right: 20px;
    }

    .avt-projects-detail-photo{
    }

    .avt-projects-detail-data-blocks{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }

    .avt-projects-detail-datas-items{
        width: 190px;
        padding-right: 10px;
        padding-bottom: 34px;
    }

    .avt-projects-detail-datas-items--break{
        flex-basis: 100%;
        height: 0;
    }

    .avt-projects-detail-datas-items__h4{
        color: #E3B873;
        margin-bottom: 9px;
        text-transform: uppercase;
    }

    .avt-projects-detail-datas-items__p{
        font-size: 13px;
        line-height: 1.616;
        
        color: #FFFFFF;    
    }

    .avt-projects-detail-bottomnav{
        align-self: flex-end;
    }

    .avt-projects-detail-bottomnav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(41px + 29px + 64px + 29px + 41px);
    }

    .avt-projects-detail-bottomnav:before{
        content: "";
        background-image: url("../images/arrow_l.png");
        background-size: cover;
        width: 41px;
        height: 13px;
        margin-right: 29px;
    }

    .avt-projects-detail-bottomnav:after{
        content: "";
        background-image: url("../images/arrow_r.png");
        background-size: cover;
        width: 41px;
        height: 13px;
        margin-left: 29px;
    }

    .avt-projects-detail-bottomnav-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 64px;
    }

    .avt-projects-detail-bottomnav-block-item{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .avt-projects-detail-bottomnav-block-item--active{
        background-color: #fff;
    }

/* control */
    
    .avt-control{
        margin-top: -298px;
        text-align: center;
    }

    .avt-control__h3{
        color: #fff;
        margin-bottom: 12px;
    }

    .avt-control-iconblock{
        width: calc(32px + 9px + 32px + 9px + 32px + 20px);
        margin: 0 auto;
    }
   
    .avt-control-iconblock__icon, .avt-repair-iconblock__icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 28px;
        margin: 0 auto;
        width: calc(9px + 32px + 9px + 32px + 9px + 32px + 9px);
        margin: 0 auto;
        margin-bottom: 31px;
    }

    .avt-control-iconblock__icon:before, .avt-control-iconblock__icon:after, 
    .avt-repair-iconblock__icon:before, .avt-repair-iconblock__icon:after {
        content: "";
        background-image: url("../images/line1_beige.png");
        background-size: cover;
        width: 32px;
        height: 3px;
        margin: 0px 9px;
    }

    .avt-control-cameraview{
        max-width: 817px;
        margin: 0 auto;
        margin-bottom: 62px;
        position: relative;
    }

    .avt-control-cameraview img{
        width: 100%;
    }

    .avt-control-cameraview:before{
        content: "";
        top: 0px;
        left: 0px;
        width: 100%;
        height: calc(100% - 5px);
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
    }    

    .avt-control-cameraview:after{
        content: "";
        width: 85px;
        height: 85px;
        top: calc(50% - 42px);
        left: calc(50% - 42px);
        background: #E3B873;
        background-image: url("../images/polygon_3.png");
        background-size: 28px;
        background-repeat: no-repeat;
        background-position: calc(50% + 3px) center;
        position: absolute;
        border-radius: 50%;
        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
        cursor: pointer;
    }    

    .avt-control-cameraview:hover:after{
        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.6);
    }

    .avt-control__line{
        background-image: url("../images/line2_beige.png");
        background-size: cover;
        width: 55px;
        height: 3px;
        margin:0 auto;
        margin-bottom: 34px;
    }

    .avt-control__p{
        max-width: 681px;
        font-size: 18px;
        line-height: 37px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 91px;
        color: #363636;
    }

    .avt-control-form{
        max-width: 817px;/*-*/
        margin: 0 auto;/*-*/
        margin-bottom: 147px;
    }

    .avt-control-form-line1{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 51px;
        max-width: 817px;/*769*/
        margin: 0 auto;
        margin-bottom: 33px;
    }

    .avt-control-form-line1-inputblock{
        width: 231px;
        text-align: left;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .avt-control-form-line1-inputblock__caption{
        padding: 0px;
        margin: 0px;
        font-size: 13px;
        line-height: 1;
        margin-bottom: 3px;
        color: rgba(54, 54, 54, 0.5);
    }

    .avt-control-form-line1-inputblock__input{
        padding: 0px;
        margin: 0px;
        width: 100%;
        font-size: 14px;
        line-height: 1;
        color: #363636;
        border: none;
        padding-bottom: 3px;
        border-bottom: solid 1px rgba(54, 54, 54, 0.3);
    }

    .avt-control-form-line1-inputblock__button{
        width: 200px;
        max-width: 817px; /*-*/
        font-style: normal;
    }

    .avt-control-form-line1-inputblock__button:hover{
        color: #131313;
    }

    .avt-control-form-line2{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avt-control-form-line2__check{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .avt-control-form-line2__label{
        font-size: 14px;
        line-height: 23px;
        background-color: none;
        cursor: pointer;
    }

    .avt-control-form-line2__check+.avt-control-form-line2__label:before{
        content: "";
        display: inline-block;
        height: 18px;
        width: 18px;
        background-color: #E3B873;
        border-radius: 1px;
        margin-right: 8px;
    }

    .avt-control-form-line2__check:checked+.avt-control-form-line2__label:before {
        background-image: url("../images/checkbox_checked.svg");
        background-position: center center;
        background-size: 70% 70%;
        background-repeat: no-repeat;
    }

    .avt-control-form-line2__check+.avt-control-form-line2__label:hover {
        color: rgba(54, 54, 54, 0.7);

    }

/* repair */
    .avt-repair__h3{
        color: #181818;
        text-align: center;
        margin-bottom: 13px;
    }

    .avt-repair-blocks-photo{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: calc(392px + 30px + 392px + 30px + 392px);
        margin: 0px auto;
    }

    .avt-repair-blocks-photo-items{
        margin-bottom: 79px;
    }

    .avt-repair-blocks-img-item{
        width: 392px;
        height: 421px;
    }

    .avt-repair-blocks-text-item{
        width: 330px;
        height: 286px;
        padding: 25px 34px;
        background-color: #FFFFFF;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        position: relative;

        margin: 0px auto;
        margin-top: -135px;
    }
     
    .avt-repair-blocks-text-item__h4{
        color: #363636;
        text-transform: none;
        margin-bottom: 13px;
    }

    .avt-repair-blocks-text-ul{
        padding: 0px;
        margin: 0px;
    }

    .avt-repair-blocks-text-li{
        font-size: 13px;
        line-height: 1.95;
        list-style-position: inside;
    }

    .avt-repair-blocks-text__button{
        position: absolute;
        left: 0px;
        bottom: -27px;
        width: 228px;
        height: 54px;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
        font-size: 18px;
        line-height: 1.389;
        background: #E3B873;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding: 17px 5px;
        font-size: 400;
    }

    /* STEPS */

    .avt-steps-line1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .avt-steps-white{
        padding: 55px 0px 55px 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-image: url("../images/steps.jpg");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 1006 645;
        height: 584px;
        width: 804px;
        font-size: 14px;
        line-height: 1.358;
    }

    .avt-steps-white-item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .avt-steps-white-item-circle{
        color: #fff;
        font-size: 18px;
        line-height: 1.2;
        background-color: #E3B873;
        margin-right: 17px;
        width: calc(42px + 8px * 2);
        height: calc(42px + 8px * 2);
        padding: 11px 4px;
        border-radius: 50%;
        border: solid 8px #fff;
        text-align: center;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    }



    .avt-steps-black{
        background-color: #131313;
        color: #fff;
        padding: 28px 49px;
        width: 506px;
    }

    .avt-steps-black-inputblock{
        width: 100%;
        text-align: left;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .avt-steps-black-inputblock:nth-last-child(-n+3){
        margin-bottom: 16px;
     }

    .avt-steps-black-title{
        font-size: 18px;
        line-height: 1.444;
        text-align: center;
        margin-bottom: 40px;
    }

    .avt-steps-black-inputblock__caption{
        padding: 0px;
        margin: 0px;
        font-size: 13px;
        line-height: 1;
        margin-bottom: 3px;
        color: rgba(255, 255, 255, 0.5);
    }

    .avt-steps-black-inputblock__input{
        padding: 0px;
        margin: 0px;
        width: 100%;
        font-size: 14px;
        line-height: 1;
        border: none;
        padding-bottom: 3px;
        color: #fff;
        background-color: transparent;
        border-bottom: solid 1px rgba(54, 54, 54, 1);
    }
    .avt-steps-black-inputblock__input::-webkit-input-placeholder {color:#fff; background-color: transparent;}
    .avt-steps-black-inputblock__input::-moz-placeholder          {color:#fff; background-color: transparent;}/* Firefox 19+ */
    .avt-steps-black-inputblock__input:-moz-placeholder           {color:#fff; background-color: transparent;}/* Firefox 18- */
    .avt-steps-blackinputblock__input:-ms-input-placeholder      {color:#fff; background-color: transparent;}

    .avt-steps-black .avt-control-form-line2{
        justify-content: flex-start;
    }

    .avt-steps-black .avt-control-form-line2__check+.avt-control-form-line2__label:hover {
        color: #E3B873;
    }

    .avt-steps-black-button{
        width: 210px;
        height: 51px;
        font-style: normal;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    }

    .avt-steps-black-button:hover{
        color: #131313;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    }

    .avt-steps-black-lastline{
        margin-top: 39px;
        text-align: right;
    }

    .avt-steps-line2{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 71px;
    }

    .avt-steps-tip{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 506px;
        padding-left: 33px;
        text-align: left;
    }

    .avt-steps-tip-circle{
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background: #E3B873;
        box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
        margin-right: 25px;
        background-image: url("../images/moneybox.svg");
        background-size: 40px 33px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin-top: 8px;
    }

    .avt-steps-tip-text{
        font-size: 18px;
        line-height: 1.444;
        color: #E3B873;
        text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    }

    .avt-clients-intro{
        text-align: center;
        margin: 24px auto 39px;
        font-size: 18px;
        line-height: 1.611;
        color: #363636;
    }

    .avt-clients-blocks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .avt-clients-blocks-item{
        position: relative;
        width: 376px; /*calc((100% - 100px) / 3);*/
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
        padding: 30px 20px 90px;
    }

    .avt-clients-blocks-item-text-p{
        font-size: 13px;
        line-height: 1.8;
        color: #959595;
        margin-bottom: 5px;
    }

